

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown-posts" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Posts<span class="sr-only">(current)</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown-posts">
					<a class="dropdown-item" href="/admin/post">Manage Posts</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/admin/post/add">Add new post</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/admin/category">Catgories</a>
			</li>
<!-- 			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-cat" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Catgories
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown-cat">
					<a class="dropdown-item" href="/admin/category">Manage Catgories</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/admin/category/add">Add new Catgories</a>
				</div>
			</li> -->
			<li class="nav-item">
				<a class="nav-link" href="/admin/user">Users</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
		</ul>
		<p class="my-2 my-lg-0">
			<a href="javascript:;" style="cursor: pointer;color: #000;" id="logout">Logout <i class="fas fa-sign-out-alt"></i></a>
		</p>
	</div>
</nav>